@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: white;

  background:
    radial-gradient(
      circle at 15% 20%,
      rgba(139, 92, 246, 0.18),
      transparent 25%
    ),
    radial-gradient(
      circle at 85% 75%,
      rgba(99, 102, 241, 0.12),
      transparent 30%
    ),
    #08080a;
}

/* Premium texture */

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image:
    radial-gradient(
      rgba(255,255,255,0.02) 1px,
      transparent 1px
    );

  background-size: 24px 24px;

  pointer-events: none;
}

/* Selection */

::selection {
  background: rgba(139, 92, 246, 0.35);
  color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}